head {
  background-color: blue;
  font-family: 'Devonshire', 'Arial';
}

body {
  background-color: blue;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #333;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #ccc;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}

h1 {
  font-size: 4em;
  background-color: green;
}

h2 {
  font-size: 3em;
}

main {
  font-size: 2em;
}
  
.welcomeimg {
  float: left;
  border: 2px solid black;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
}

#pinfo {
  font-size: 2em;
}

#education {
  font-size: 2em;
}

#skills {
  font-size: 2em;
  background-color: red;
}

.read {
  float: left;
  border: 2px solid black;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
}

.game {
  float: left;
  border: 2px solid black;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
}

.run {
  float: left;
  border: 2px solid black;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
}

#footer {
  font-size: 1em;
}
